<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{316,649},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,100}</string>
                <key>spriteSourceSize</key>
                <string>{732,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{732,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_item_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{218,0},{120,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_item_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,338}</string>
                <key>spriteSourceSize</key>
                <string>{238,338}</string>
                <key>textureRect</key>
                <string>{{0,734},{238,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_item_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{120,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{224,527},{120,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_item_load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{181,202},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_item_ncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{102,527},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,72}</string>
                <key>spriteSourceSize</key>
                <string>{212,72}</string>
                <key>textureRect</key>
                <string>{{102,313},{212,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_normal_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,72}</string>
                <key>spriteSourceSize</key>
                <string>{212,72}</string>
                <key>textureRect</key>
                <string>{{102,649},{212,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_nxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{303,254},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_quatang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,77}</string>
                <key>spriteSourceSize</key>
                <string>{311,77}</string>
                <key>textureRect</key>
                <string>{{102,0},{311,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_seperate_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,1}</string>
                <key>spriteSourceSize</key>
                <string>{200,1}</string>
                <key>textureRect</key>
                <string>{{102,723},{200,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_special_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,72}</string>
                <key>spriteSourceSize</key>
                <string>{212,72}</string>
                <key>textureRect</key>
                <string>{{176,313},{212,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_special_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,35}</string>
                <key>spriteSourceSize</key>
                <string>{200,35}</string>
                <key>textureRect</key>
                <string>{{181,0},{200,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_failed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,76}</string>
                <key>textureRect</key>
                <string>{{218,122},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{250,288},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{250,362},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{250,436},{51,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,35}</string>
                <key>spriteSourceSize</key>
                <string>{52,35}</string>
                <key>textureRect</key>
                <string>{{303,200},{52,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewEvent.png</string>
            <key>size</key>
            <string>{338,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b700ee98552bd8c306f3bec66e94e2:e7184ea8ad5dd71ed9e86615fa51c928:417785e7335910865a0d1b1243937151$</string>
            <key>textureFileName</key>
            <string>NewEvent.png</string>
        </dict>
    </dict>
</plist>
