<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_binhdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_daigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,639}</string>
                <key>spriteSourceSize</key>
                <string>{960,639}</string>
                <key>textureRect</key>
                <string>{{0,642},{960,639}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,639}</string>
                <key>spriteSourceSize</key>
                <string>{960,639}</string>
                <key>textureRect</key>
                <string>{{962,0},{960,639}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>banbaucua_begin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,355}</string>
                <key>spriteSourceSize</key>
                <string>{662,355}</string>
                <key>textureRect</key>
                <string>{{0,1283},{662,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua_carpet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,348}</string>
                <key>spriteSourceSize</key>
                <string>{524,348}</string>
                <key>textureRect</key>
                <string>{{960,1332},{524,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baucua_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,368}</string>
                <key>spriteSourceSize</key>
                <string>{545,368}</string>
                <key>textureRect</key>
                <string>{{962,962},{545,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,174}</string>
                <key>spriteSourceSize</key>
                <string>{215,174}</string>
                <key>textureRect</key>
                <string>{{0,1640},{215,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{178,157}</string>
                <key>textureRect</key>
                <string>{{217,1640},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bau_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{178,157}</string>
                <key>textureRect</key>
                <string>{{1603,321},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bau_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{178,157}</string>
                <key>textureRect</key>
                <string>{{397,1640},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bocuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1784,162},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_bocuoc_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1680,1659},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bocuoc_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1680,1715},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{960,1682},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_ca_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1140,1682},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_ca_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1320,1682},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1603,480},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cua_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1603,637},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cua_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1603,794},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{62,47}</string>
                <key>textureRect</key>
                <string>{{1820,1764},{62,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_cuoc_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{62,47}</string>
                <key>textureRect</key>
                <string>{{1783,895},{62,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cuoc_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,47}</string>
                <key>spriteSourceSize</key>
                <string>{62,47}</string>
                <key>textureRect</key>
                <string>{{1823,944},{62,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_datxong_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1680,1771},{138,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1509,962},{178,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_ga_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1509,1142},{178,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_ga_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1666,951},{178,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_nai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1666,1131},{178,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_nai_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{179,157}</string>
                <key>textureRect</key>
                <string>{{1603,162},{179,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_nai_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1486,1332},{178,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1486,1512},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_tom_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1500,1669},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_tom_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1643,1322},{178,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,294}</string>
                <key>spriteSourceSize</key>
                <string>{521,294}</string>
                <key>textureRect</key>
                <string>{{664,1283},{521,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,160}</string>
                <key>spriteSourceSize</key>
                <string>{257,160}</string>
                <key>textureRect</key>
                <string>{{1603,0},{257,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{178,155}</string>
                <key>textureRect</key>
                <string>{{1666,1502},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Ncoins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{1840,266},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1800,1311},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_close_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1800,1361},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{0,1816},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_singleCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,12}</string>
                <key>spriteSourceSize</key>
                <string>{25,12}</string>
                <key>textureRect</key>
                <string>{{217,1799},{25,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tongncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,19}</string>
                <key>spriteSourceSize</key>
                <string>{31,19}</string>
                <key>textureRect</key>
                <string>{{641,1640},{31,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungcuoc_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,62}</string>
                <key>spriteSourceSize</key>
                <string>{153,62}</string>
                <key>textureRect</key>
                <string>{{577,1640},{153,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungcuoc_baucua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,26}</string>
                <key>spriteSourceSize</key>
                <string>{102,26}</string>
                <key>textureRect</key>
                <string>{{1840,162},{102,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khungsao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,56}</string>
                <key>textureRect</key>
                <string>{{1783,837},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_datxong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,34}</string>
                <key>spriteSourceSize</key>
                <string>{103,34}</string>
                <key>textureRect</key>
                <string>{{1820,1659},{103,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuitien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,55}</string>
                <key>spriteSourceSize</key>
                <string>{45,55}</string>
                <key>textureRect</key>
                <string>{{1823,1008},{45,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xucxac_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{1783,321},{83,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xucxac_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{1783,407},{83,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xucxac_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{1783,493},{83,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xucxac_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{1783,579},{83,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xucxac_nai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{1783,665},{83,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xucxac_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,84}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{1783,751},{83,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BauCua.png</string>
            <key>size</key>
            <string>{1870,1837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dce52c8eff41cacf8826f632d51e022:238e0fad5acdcee982569926af881e7e:d0dab794d26f5115b13eecdb2a9a3bda$</string>
            <key>textureFileName</key>
            <string>BauCua.png</string>
        </dict>
    </dict>
</plist>
