<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,443},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>button_inactive_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,387},{138,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,54}}</string>
                <key>sourceSize</key>
                <string>{138,54}</string>
            </dict>
            <key>danbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{101,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>danbai_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,387},{101,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>denbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>ngulinh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{272,125}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,125}}</string>
                <key>sourceSize</key>
                <string>{282,145}</string>
            </dict>
            <key>nocbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,387},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>quac.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,37},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>rutbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,72},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
            <key>rutbai_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,167},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
            <key>text_xetbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,291},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>text_xetbai_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,339},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>text_xethet.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,72},{217,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,59}}</string>
                <key>sourceSize</key>
                <string>{217,59}</string>
            </dict>
            <key>xethet.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,387},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xethet_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,387},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>xiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{276,127}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,127}}</string>
                <key>sourceSize</key>
                <string>{282,145}</string>
            </dict>
            <key>xidach.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,125}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,125}}</string>
                <key>sourceSize</key>
                <string>{282,145}</string>
            </dict>
            <key>xidach_nocbai_binhdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,387},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>xidach_nocbai_daigia.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,426},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>xidach_nocbai_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,439},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XiDach.png</string>
            <key>size</key>
            <string>{372,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:549528f5298a1901c15956348f266daf:ab5f469dc8dd2e76da065ca84b647d69:8f943a1f438b21a6a919558a006c49d5$</string>
            <key>textureFileName</key>
            <string>XiDach.png</string>
        </dict>
    </dict>
</plist>
