<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongmau_12la.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,95}</string>
                <key>spriteSourceSize</key>
                <string>{241,95}</string>
                <key>textureRect</key>
                <string>{{302,430},{241,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_chiAt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{399,430},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,66}</string>
                <key>spriteSourceSize</key>
                <string>{153,66}</string>
                <key>textureRect</key>
                <string>{{302,0},{153,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_12_den_1_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_12_do_1_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,92},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_3_cai_sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,184},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_3_cai_thung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,276},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_4_cai_xam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,368},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_5_doi_va_1_xam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,460},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_binh_lung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,552},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_cu_lu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,644},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_dang_xep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,37}</string>
                <key>spriteSourceSize</key>
                <string>{108,37}</string>
                <key>textureRect</key>
                <string>{{302,352},{108,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{399,657},{300,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_dong_hoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{302,673},{300,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_hoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,54}</string>
                <key>spriteSourceSize</key>
                <string>{217,54}</string>
                <key>textureRect</key>
                <string>{{457,0},{217,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_ket_thuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,59}</string>
                <key>spriteSourceSize</key>
                <string>{217,59}</string>
                <key>textureRect</key>
                <string>{{449,219},{217,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_luc_phe_bon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,736},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_mau_thau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,828},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_rong_cuon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,920},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{394,959},{300,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_sanh_rong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{302,975},{300,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_sap_3_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,1012},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,145}</string>
                <key>spriteSourceSize</key>
                <string>{282,145}</string>
                <key>textureRect</key>
                <string>{{302,68},{282,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_thu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,1104},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,56}</string>
                <key>spriteSourceSize</key>
                <string>{217,56}</string>
                <key>textureRect</key>
                <string>{{446,438},{217,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_thung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,1196},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_thung_pha_sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{394,1261},{300,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_thung_pha_sanh_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{302,1277},{300,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_tu_quy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,1288},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tu_quy_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,1380},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_xam_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{0,1472},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_xep_xong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{107,37}</string>
                <key>textureRect</key>
                <string>{{302,391},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MauBinh.png</string>
            <key>size</key>
            <string>{511,1577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e78b6d5659916f408214f2846184e47e:720112c4b33c915fbff1fde285ac8489:a47478f2be660359612ba89acf55d861$</string>
            <key>textureFileName</key>
            <string>MauBinh.png</string>
        </dict>
    </dict>
</plist>
