<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_Tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,115}</string>
                <key>spriteSourceSize</key>
                <string>{185,147}</string>
                <key>textureRect</key>
                <string>{{292,691},{151,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_Tai_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,147}</string>
                <key>spriteSourceSize</key>
                <string>{185,147}</string>
                <key>textureRect</key>
                <string>{{306,159},{185,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{164,121}</string>
                <key>spriteSourceSize</key>
                <string>{198,153}</string>
                <key>textureRect</key>
                <string>{{282,310},{164,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Xiu_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,153}</string>
                <key>spriteSourceSize</key>
                <string>{198,153}</string>
                <key>textureRect</key>
                <string>{{306,2},{198,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_button_xoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{104,955},{45,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_button_xoa_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{154,954},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_button_xoa_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{203,954},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{409,957},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_dialog_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{52,955},{45,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_dialog_history_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,111}</string>
                <key>spriteSourceSize</key>
                <string>{252,111}</string>
                <key>textureRect</key>
                <string>{{292,435},{252,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_dialog_history_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,2}</string>
                <key>spriteSourceSize</key>
                <string>{820,2}</string>
                <key>textureRect</key>
                <string>{{2,2},{820,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_dialog_nen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,440}</string>
                <key>spriteSourceSize</key>
                <string>{52,440}</string>
                <key>textureRect</key>
                <string>{{8,2},{52,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_frame_xingau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,238}</string>
                <key>spriteSourceSize</key>
                <string>{238,238}</string>
                <key>textureRect</key>
                <string>{{64,2},{238,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_frame_xingau_countdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{64,244},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_frame_xingau_countdown_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,65}</string>
                <key>spriteSize</key>
                <string>{82,104}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{407,570},{82,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_history_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{2,954},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_history_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{426,922},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_history_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,27}</string>
                <key>spriteSourceSize</key>
                <string>{39,27}</string>
                <key>textureRect</key>
                <string>{{345,922},{39,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_khung-tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{450,310},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_miniicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{88,81}</string>
                <key>textureRect</key>
                <string>{{411,678},{88,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_miniicon_result_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,81}</string>
                <key>spriteSourceSize</key>
                <string>{131,81}</string>
                <key>textureRect</key>
                <string>{{407,435},{131,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_miniicon_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{88,81}</string>
                <key>textureRect</key>
                <string>{{411,770},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_playinguser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{388,922},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_results_bo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{462,922},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_results_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{345,953},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_results_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{377,954},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_tengame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,67}</string>
                <key>spriteSourceSize</key>
                <string>{350,67}</string>
                <key>textureRect</key>
                <string>{{8,462},{350,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_tengame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,67}</string>
                <key>spriteSourceSize</key>
                <string>{350,67}</string>
                <key>textureRect</key>
                <string>{{79,462},{350,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_tengame_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,67}</string>
                <key>spriteSourceSize</key>
                <string>{350,67}</string>
                <key>textureRect</key>
                <string>{{150,462},{350,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_tengame_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,67}</string>
                <key>spriteSourceSize</key>
                <string>{350,67}</string>
                <key>textureRect</key>
                <string>{{221,462},{350,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_thele_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{450,364},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{434,855},{63,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_xingau_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{2,882},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{228,816},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{156,816},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_xingau_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{215,886},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{291,846},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_xingau_lac1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{83,816},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_lac2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{275,914},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_xingau_lac3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,62}</string>
                <key>textureRect</key>
                <string>{{8,816},{71,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_lac4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{363,855},{67,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_lac5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{71,887},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_xingau_lac6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{144,887},{67,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tai_xiu.png</string>
            <key>size</key>
            <string>{506,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fc3aab5ac5815dc63e8dcef7ca149a:8a7ffec3186414dcefff1236c5f049f9:48d96b4ef4b810fdd2e2c039ff66e1be$</string>
            <key>textureFileName</key>
            <string>tai_xiu.png</string>
        </dict>
    </dict>
</plist>
