<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{326,742},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{326,891},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{326,1040},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{326,1189},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{280,1618},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{280,1767},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>99.99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,1799},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1250,324}</string>
                <key>spriteSourceSize</key>
                <string>{1250,324}</string>
                <key>textureRect</key>
                <string>{{0,0},{1250,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_frame_separatedLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,324}</string>
                <key>spriteSourceSize</key>
                <string>{1,324}</string>
                <key>textureRect</key>
                <string>{{475,0},{1,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_napthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,53}</string>
                <key>spriteSourceSize</key>
                <string>{171,53}</string>
                <key>textureRect</key>
                <string>{{429,1618},{171,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_napthe_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,53}</string>
                <key>spriteSourceSize</key>
                <string>{171,53}</string>
                <key>textureRect</key>
                <string>{{429,1791},{171,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_Ncoin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{438,503},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_khuyenmai_inapp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,50}</string>
                <key>spriteSourceSize</key>
                <string>{89,50}</string>
                <key>textureRect</key>
                <string>{{389,638},{89,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_khuyenmai_nhamang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{438,393},{53,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_khuyenmai_thecao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,34}</string>
                <key>spriteSourceSize</key>
                <string>{65,34}</string>
                <key>textureRect</key>
                <string>{{438,326},{65,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_khuyenmai_thecao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{438,448},{53,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_khuyenmai_topbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,32}</string>
                <key>spriteSourceSize</key>
                <string>{69,32}</string>
                <key>textureRect</key>
                <string>{{389,690},{69,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inapp_itemFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,278}</string>
                <key>spriteSourceSize</key>
                <string>{181,278}</string>
                <key>textureRect</key>
                <string>{{0,1252},{181,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inapp_itemFrame_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,278}</string>
                <key>spriteSourceSize</key>
                <string>{181,278}</string>
                <key>textureRect</key>
                <string>{{280,1338},{181,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sms_itemFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,278}</string>
                <key>spriteSourceSize</key>
                <string>{180,278}</string>
                <key>textureRect</key>
                <string>{{0,1435},{180,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sms_itemFrame_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,278}</string>
                <key>spriteSourceSize</key>
                <string>{180,278}</string>
                <key>textureRect</key>
                <string>{{0,1617},{180,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,61}</string>
                <key>spriteSourceSize</key>
                <string>{740,61}</string>
                <key>textureRect</key>
                <string>{{326,0},{740,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_bar_separatedLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,60}</string>
                <key>spriteSourceSize</key>
                <string>{1,60}</string>
                <key>textureRect</key>
                <string>{{478,0},{1,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox_thecao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,47}</string>
                <key>spriteSourceSize</key>
                <string>{310,47}</string>
                <key>textureRect</key>
                <string>{{389,326},{310,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>textbox_thecao_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,47}</string>
                <key>spriteSourceSize</key>
                <string>{310,47}</string>
                <key>textureRect</key>
                <string>{{389,0},{310,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewShop.png</string>
            <key>size</key>
            <string>{482,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dba73c476a156f784cd23ec3f8096823:7db092b939b954b5e6ec43a17c0d7142:b389a4f1649885391ff579142def4963$</string>
            <key>textureFileName</key>
            <string>NewShop.png</string>
        </dict>
    </dict>
</plist>
