<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banchoi_xito_binhdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banchoi_xito_daigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,642},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banchoi_xito_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,1284},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blurred_layer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,10}</string>
                <key>spriteSourceSize</key>
                <string>{393,10}</string>
                <key>textureRect</key>
                <string>{{1243,1228},{393,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_theo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1264,357},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_theo_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1264,497},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_theo_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1264,637},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1255,1236},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1255,1376},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to1_2_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1255,1516},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1118,1501},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to1_4_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1174,1585},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1264,777},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to_drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1264,917},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to_drop_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1264,1057},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_to_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{962,1617},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_totatca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1102,1641},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_totatca_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{962,1673},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_tox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{962,1729},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_tox2_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{962,1785},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_upbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1018,1785},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_upbo_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1074,1785},{138,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chonbai_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,12}</string>
                <key>spriteSourceSize</key>
                <string>{327,12}</string>
                <key>textureRect</key>
                <string>{{1300,28},{327,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dealer_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,218}</string>
                <key>spriteSourceSize</key>
                <string>{148,218}</string>
                <key>textureRect</key>
                <string>{{962,1201},{148,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dealer_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,218}</string>
                <key>spriteSourceSize</key>
                <string>{148,218}</string>
                <key>textureRect</key>
                <string>{{962,1351},{148,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_coinPillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{26,41}</string>
                <key>textureRect</key>
                <string>{{1264,210},{26,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_coinRows.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,58}</string>
                <key>spriteSourceSize</key>
                <string>{163,58}</string>
                <key>textureRect</key>
                <string>{{1182,1420},{163,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_coinTower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{1230,1656},{93,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_singleCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,12}</string>
                <key>spriteSourceSize</key>
                <string>{25,12}</string>
                <key>textureRect</key>
                <string>{{1243,1201},{25,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_singleCoin_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{1300,0},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_tongncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,19}</string>
                <key>spriteSourceSize</key>
                <string>{31,19}</string>
                <key>textureRect</key>
                <string>{{1264,189},{31,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungchonbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,187}</string>
                <key>spriteSourceSize</key>
                <string>{336,187}</string>
                <key>textureRect</key>
                <string>{{962,0},{336,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,39}</string>
                <key>spriteSourceSize</key>
                <string>{137,39}</string>
                <key>textureRect</key>
                <string>{{1130,1781},{137,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poker_text_cu_lu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,189},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,281},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_mau_thau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,373},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,465},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_thu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,557},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_thung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,649},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_thung_pha_sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,741},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_thung_pha_sanh_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,833},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_tu_quy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,925},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_upbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,1017},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker_text_xam_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,90}</string>
                <key>textureRect</key>
                <string>{{962,1109},{300,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,154}</string>
                <key>spriteSourceSize</key>
                <string>{114,154}</string>
                <key>textureRect</key>
                <string>{{962,1501},{114,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>separated_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,1}</string>
                <key>spriteSourceSize</key>
                <string>{143,1}</string>
                <key>textureRect</key>
                <string>{{1316,0},{143,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_ket_thuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,59}</string>
                <key>spriteSourceSize</key>
                <string>{217,59}</string>
                <key>textureRect</key>
                <string>{{1182,1201},{217,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>textbox_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,25}</string>
                <key>textureRect</key>
                <string>{{1264,253},{90,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xidach_nocbai_binhdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{1264,1197},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xidach_nocbai_daigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{1158,1725},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xidach_nocbai_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{1197,1751},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XiTo.png</string>
            <key>size</key>
            <string>{1317,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7157b00ec52757d6d4397ee76707a75:ac19f1349636aa38b8e9b15a4f9e0c3b:2c7295a0c0663d095d0d5f48b62d4359$</string>
            <key>textureFileName</key>
            <string>XiTo.png</string>
        </dict>
    </dict>
</plist>
