<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_chatnhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,47}</string>
                <key>spriteSourceSize</key>
                <string>{452,47}</string>
                <key>textureRect</key>
                <string>{{0,523},{452,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_chatnhanh_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,47}</string>
                <key>spriteSourceSize</key>
                <string>{452,47}</string>
                <key>textureRect</key>
                <string>{{454,523},{452,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_chatnhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{897,468},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_chatnhanh_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{908,520},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{949,468},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_close_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{963,0},{50,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_emoticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{960,520},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_emoticon_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{961,395},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_gui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,52}</string>
                <key>textureRect</key>
                <string>{{681,468},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_gui_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,52}</string>
                <key>textureRect</key>
                <string>{{789,468},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatback_layer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,393}</string>
                <key>spriteSourceSize</key>
                <string>{961,393}</string>
                <key>textureRect</key>
                <string>{{0,0},{961,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatback_layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{959,71}</string>
                <key>spriteSourceSize</key>
                <string>{959,71}</string>
                <key>textureRect</key>
                <string>{{0,395},{959,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_muiten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{961,447},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,53}</string>
                <key>spriteSourceSize</key>
                <string>{679,53}</string>
                <key>textureRect</key>
                <string>{{0,468},{679,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chat.png</string>
            <key>size</key>
            <string>{1012,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c5f540cf7165b9cd84d75bc610a44c:4acfc7a1c9574f72186ce19d657c3fb3:054c709634d5cb2d67cc30fe69d4e814$</string>
            <key>textureFileName</key>
            <string>Chat.png</string>
        </dict>
    </dict>
</plist>
