<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{276,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_dongy_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{276,52},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_tuchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{328,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_tuchoi_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{328,52},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_muccuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{276,104},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungloimoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,124}</string>
                <key>spriteSourceSize</key>
                <string>{274,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{274,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungsogiay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{380,0},{43,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>separated_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,1}</string>
                <key>spriteSourceSize</key>
                <string>{244,1}</string>
                <key>textureRect</key>
                <string>{{0,126},{244,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Invite.png</string>
            <key>size</key>
            <string>{407,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987038b3c3f4707b94ab342be1fdacd7:c051390c12e71a0f3980ae547c5f67ea:5ba66a3d949007e0beffd168fb1cf938$</string>
            <key>textureFileName</key>
            <string>Invite.png</string>
        </dict>
    </dict>
</plist>
