<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_choicung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{167,112},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_choicung_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{0,223},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_choicung_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{0,263},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_choingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,62}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{288,47},{146,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_choingay_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,62}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{0,159},{146,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_circle_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{119,441},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_circle_green_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{392,335},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_circle_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{341,422},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_circle_redtap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{395,389},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_....png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,7}</string>
                <key>spriteSourceSize</key>
                <string>{27,7}</string>
                <key>textureRect</key>
                <string>{{0,486},{27,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{455,0},{22,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_buzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,19}</string>
                <key>spriteSourceSize</key>
                <string>{60,19}</string>
                <key>textureRect</key>
                <string>{{436,47},{60,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_buzz_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,19}</string>
                <key>spriteSourceSize</key>
                <string>{60,19}</string>
                <key>textureRect</key>
                <string>{{148,159},{60,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{336,391},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_chat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{446,335},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{449,403},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{426,223},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_filter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,29}</string>
                <key>spriteSourceSize</key>
                <string>{58,29}</string>
                <key>textureRect</key>
                <string>{{0,455},{58,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{448,309},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_pokersetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{447,464},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_reload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{457,92},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{457,24},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_search_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{457,58},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{60,455},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_smiley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{448,280},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_soundoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{449,434},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_soundon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{456,124},{35,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{426,251},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_icon_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{281,223},{39,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{273,112},{16,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_to_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{273,130},{16,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_icon_vibrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{449,369},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_moneybar_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{453,251},{27,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_napvip_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,45}</string>
                <key>spriteSourceSize</key>
                <string>{165,45}</string>
                <key>textureRect</key>
                <string>{{288,0},{165,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_napvip_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,45}</string>
                <key>spriteSourceSize</key>
                <string>{165,45}</string>
                <key>textureRect</key>
                <string>{{0,112},{165,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_signin_fbsmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,54}</string>
                <key>spriteSourceSize</key>
                <string>{286,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{286,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_signin_fbsmall_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,54}</string>
                <key>spriteSourceSize</key>
                <string>{286,54}</string>
                <key>textureRect</key>
                <string>{{0,56},{286,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,343},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_blue_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,399},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_blue_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{56,343},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_cyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{56,399},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_cyan_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{169,152},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_cyan_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{225,152},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{112,329},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_green_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{112,385},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_green_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{169,208},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_green_tiny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{449,167},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_green_tiny_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{449,209},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_huy_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{225,208},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_huy_ingame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{146,264},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_huy_ingame_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{202,264},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{168,320},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_orange_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{168,376},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{173,432},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_purple_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{224,320},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{224,376},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_red_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{229,432},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_red_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{258,264},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{280,320},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to1_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{280,376},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to1_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{285,432},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{288,111},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to2_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{344,111},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{281,167},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to3_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{337,167},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{400,111},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to4_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{393,167},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{314,223},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_to5_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{370,223},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{336,279},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_yellow_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{336,335},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_square_yellow_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{392,279},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_xoaban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{0,303},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_xoaban_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{106,223},{104,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guest_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{395,443},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Buttton.png</string>
            <key>size</key>
            <string>{489,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b45544469993066d397f157bf1423ec:cb846c09f01063e0be068c8855e5a5b4:8499f72a148e6b8b8fdfa998f8ce5bd2$</string>
            <key>textureFileName</key>
            <string>Buttton.png</string>
        </dict>
    </dict>
</plist>
