<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{96,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>frame_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{96,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>frame_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,176},{128,140}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,50},{128,140}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>frame_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{180,172}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{180,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>frame_effect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,250}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>iconreward_ngay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,263},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>iconreward_ngay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,265},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>iconreward_ngay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,198},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>iconreward_ngay4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,198},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>iconreward_ngay5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,254},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>iconreward_ngay6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,254},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>iconreward_ngay7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DailyReward.png</string>
            <key>size</key>
            <string>{504,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d4aec549fe700477b9fff9db3524087:68ca961336483f7f90b348cb997bbe1c:b4f6e70a72f07f0a2c0ce1fba72e9d77$</string>
            <key>textureFileName</key>
            <string>DailyReward.png</string>
        </dict>
    </dict>
</plist>
