<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_toLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{340,528},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_toLeft_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{340,576},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_toRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{340,624},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_toRight_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{196,519},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_Ncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{352,408},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_TabBar3_selected_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,46}</string>
                <key>textureRect</key>
                <string>{{329,672},{106,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_TabBar3_selected_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,46}</string>
                <key>textureRect</key>
                <string>{{386,1008},{106,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_TabBar3_selected_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,46}</string>
                <key>textureRect</key>
                <string>{{386,1056},{106,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_TabBar4_selected_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{96,704},{78,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_TabBar4_selected_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{0,704},{80,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_TabBar4_selected_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,46}</string>
                <key>spriteSourceSize</key>
                <string>{79,46}</string>
                <key>textureRect</key>
                <string>{{48,704},{79,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_TabBar5_selected_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,46}</string>
                <key>spriteSourceSize</key>
                <string>{63,46}</string>
                <key>textureRect</key>
                <string>{{377,752},{63,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_TabBar5_selected_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,46}</string>
                <key>spriteSourceSize</key>
                <string>{63,46}</string>
                <key>textureRect</key>
                <string>{{422,805},{63,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_TabBar5_selected_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,46}</string>
                <key>textureRect</key>
                <string>{{377,704},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_TabBar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,47}</string>
                <key>spriteSourceSize</key>
                <string>{320,47}</string>
                <key>textureRect</key>
                <string>{{0,379},{320,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_TabBar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,47}</string>
                <key>spriteSourceSize</key>
                <string>{320,47}</string>
                <key>textureRect</key>
                <string>{{49,379},{320,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_TabBar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,47}</string>
                <key>spriteSourceSize</key>
                <string>{320,47}</string>
                <key>textureRect</key>
                <string>{{98,379},{320,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_dollarDrag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{144,704},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_dollarDrag_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{216,704},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{445,665},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_huy_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{288,379},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_huy_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{288,519},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{285,659},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_minus_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{196,659},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_minus_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{196,607},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{282,800},{138,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_ok_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{282,852},{138,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_ok_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{422,853},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{244,519},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_plus_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{241,659},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_plus_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{242,610},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{282,904},{138,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_purple_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{282,956},{138,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_button_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{282,1008},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_red_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{334,1008},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_button_red_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{196,379},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{248,379},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_checkbox_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{248,420},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_coibar_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{481,0},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_coin_bar_thin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,1}</string>
                <key>spriteSourceSize</key>
                <string>{479,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{479,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_coin_bar_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,12}</string>
                <key>spriteSourceSize</key>
                <string>{385,12}</string>
                <key>textureRect</key>
                <string>{{0,365},{385,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_addFriend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{472,62},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{352,379},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_chiAt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{340,459},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_icon_choinhanh_10s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{288,703},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_choinhanh_15s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{196,566},{39,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_icon_choinhanh_20s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{244,563},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{386,1104},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_close_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{436,1104},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_kick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{472,37},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_passKey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{472,112},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_removeFriend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{472,87},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_icon_report.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{352,436},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,235}</string>
                <key>spriteSourceSize</key>
                <string>{448,235}</string>
                <key>textureRect</key>
                <string>{{0,124},{448,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_popup_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,2}</string>
                <key>spriteSourceSize</key>
                <string>{446,2}</string>
                <key>textureRect</key>
                <string>{{0,361},{446,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_radio_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{248,460},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_radio_button_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{472,11},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_seperateline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,5}</string>
                <key>spriteSourceSize</key>
                <string>{350,5}</string>
                <key>textureRect</key>
                <string>{{0,786},{350,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_textbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,47}</string>
                <key>spriteSourceSize</key>
                <string>{320,47}</string>
                <key>textureRect</key>
                <string>{{147,379},{320,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_textbox_nhapcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,56}</string>
                <key>spriteSourceSize</key>
                <string>{337,56}</string>
                <key>textureRect</key>
                <string>{{387,365},{337,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_userInfo_button_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,50}</string>
                <key>spriteSourceSize</key>
                <string>{187,50}</string>
                <key>textureRect</key>
                <string>{{445,476},{187,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>report_dropdownButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,46}</string>
                <key>spriteSourceSize</key>
                <string>{338,46}</string>
                <key>textureRect</key>
                <string>{{450,136},{338,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>report_dropdownButton_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{450,124},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>report_dropdownButton_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,46}</string>
                <key>spriteSourceSize</key>
                <string>{338,46}</string>
                <key>textureRect</key>
                <string>{{187,805},{338,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>report_dropdownMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,185}</string>
                <key>spriteSourceSize</key>
                <string>{342,185}</string>
                <key>textureRect</key>
                <string>{{0,805},{342,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>report_dropdownMenu_optionTap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,45}</string>
                <key>spriteSourceSize</key>
                <string>{338,45}</string>
                <key>textureRect</key>
                <string>{{235,805},{338,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>report_editBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,119}</string>
                <key>spriteSourceSize</key>
                <string>{470,119}</string>
                <key>textureRect</key>
                <string>{{0,3},{470,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{496,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:412ed22a09d42d5800b9e733bdfabe8a:425d63878d006ac36b8dcf9288c5cae0:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
