<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{856,734},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BAICAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{1696,850},{132,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CAORUA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{986,600},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MAUBINH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{132,88}</string>
                <key>textureRect</key>
                <string>{{896,600},{132,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{1576,929},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PHOM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{986,686},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>POKER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{1522,674},{132,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Reload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{772,724},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Reload_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{772,806},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TLDL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,84}</string>
                <key>spriteSourceSize</key>
                <string>{198,84}</string>
                <key>textureRect</key>
                <string>{{1376,929},{198,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TLDL_NAT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,90}</string>
                <key>spriteSourceSize</key>
                <string>{192,90}</string>
                <key>textureRect</key>
                <string>{{1182,929},{192,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TLMN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{1608,674},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_TLNAT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,90}</string>
                <key>spriteSourceSize</key>
                <string>{174,90}</string>
                <key>textureRect</key>
                <string>{{1604,850},{174,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>XIDACH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{1608,760},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XITO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{1175,668},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,522}</string>
                <key>spriteSourceSize</key>
                <string>{598,522}</string>
                <key>textureRect</key>
                <string>{{642,0},{598,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar_dangxuat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,62}</string>
                <key>spriteSourceSize</key>
                <string>{589,62}</string>
                <key>textureRect</key>
                <string>{{0,962},{589,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_dangxuat_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,62}</string>
                <key>spriteSourceSize</key>
                <string>{589,62}</string>
                <key>textureRect</key>
                <string>{{591,962},{589,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,38}</string>
                <key>spriteSourceSize</key>
                <string>{587,38}</string>
                <key>textureRect</key>
                <string>{{1740,0},{587,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1120,600},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_ok_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{1175,613},{138,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{1742,984},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{642,929},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_muiten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{1765,589},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{1315,613},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_setting_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,53}</string>
                <key>textureRect</key>
                <string>{{1397,613},{80,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{677,929},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maskAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{772,600},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskAvatarMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1309,669},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,1}</string>
                <key>spriteSourceSize</key>
                <string>{261,1}</string>
                <key>textureRect</key>
                <string>{{1780,587},{261,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,1}</string>
                <key>spriteSourceSize</key>
                <string>{229,1}</string>
                <key>textureRect</key>
                <string>{{1762,589},{229,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup_thietlap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,128}</string>
                <key>spriteSourceSize</key>
                <string>{231,128}</string>
                <key>textureRect</key>
                <string>{{642,600},{231,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,556}</string>
                <key>spriteSourceSize</key>
                <string>{611,556}</string>
                <key>textureRect</key>
                <string>{{1182,0},{611,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_menu_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,1}</string>
                <key>spriteSourceSize</key>
                <string>{585,1}</string>
                <key>textureRect</key>
                <string>{{1780,0},{585,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_menuoption_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,59}</string>
                <key>spriteSourceSize</key>
                <string>{587,59}</string>
                <key>textureRect</key>
                <string>{{933,786},{587,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,77}</string>
                <key>spriteSourceSize</key>
                <string>{960,77}</string>
                <key>textureRect</key>
                <string>{{642,850},{960,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{933,734},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar_close_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{1469,668},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar_feedback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,83}</string>
                <key>spriteSourceSize</key>
                <string>{20,83}</string>
                <key>textureRect</key>
                <string>{{1740,589},{20,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar_feedback_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{1696,984},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1397,668},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>General.png</string>
            <key>size</key>
            <string>{1781,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bff1374ef0dd7dc3b1ce9434d8ade45e:18f6043aa6eb41762c3226829fc967e2:44437fd4b711549051eb187c6dcf4ee6$</string>
            <key>textureFileName</key>
            <string>General.png</string>
        </dict>
    </dict>
</plist>
