<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_login_building.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{962,0},{960,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BG_login_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,689}</string>
                <key>spriteSourceSize</key>
                <string>{555,689}</string>
                <key>textureRect</key>
                <string>{{962,962},{555,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_login_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,75}</string>
                <key>spriteSourceSize</key>
                <string>{169,75}</string>
                <key>textureRect</key>
                <string>{{343,1407},{169,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_gamecenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{1519,962},{341,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_gamecenter_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{1519,1305},{341,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_google.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{685,1284},{341,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_google_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{765,1284},{341,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{514,1407},{119,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_hotro_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,48}</string>
                <key>textureRect</key>
                <string>{{343,1484},{119,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{845,1284},{341,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_button_choingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{0,1407},{341,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_button_choingay_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{0,1487},{341,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_button_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,78}</string>
                <key>spriteSourceSize</key>
                <string>{341,78}</string>
                <key>textureRect</key>
                <string>{{0,1567},{341,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,121}</string>
                <key>spriteSourceSize</key>
                <string>{578,121}</string>
                <key>textureRect</key>
                <string>{{0,1284},{578,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_scene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{0,642},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_scene_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,103}</string>
                <key>spriteSourceSize</key>
                <string>{344,103}</string>
                <key>textureRect</key>
                <string>{{580,1284},{344,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{1602,1651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4084441b73b20fdac9bc5073f271fd73:7439497c5c1546ddeee5c19c10156969:e602202bcadb9fc25505c0a0c12df872$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
