<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_freecoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{142,370},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_freecoin_e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{278,370},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_freecoin_e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{674,227},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_freecoin_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{810,227},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_freecoin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{414,370},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_freecoin_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{550,369},{134,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_freecoin_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{662,339},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_freecoin_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{798,339},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,70}</string>
                <key>spriteSourceSize</key>
                <string>{193,70}</string>
                <key>textureRect</key>
                <string>{{892,0},{193,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_giftcode_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,69}</string>
                <key>spriteSourceSize</key>
                <string>{193,69}</string>
                <key>textureRect</key>
                <string>{{479,227},{193,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_mailbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{964,148},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_mailbox_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{946,276},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{946,204},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_menu_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{969,332},{70,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,33}</string>
                <key>spriteSourceSize</key>
                <string>{135,33}</string>
                <key>textureRect</key>
                <string>{{934,339},{135,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_mailbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,22}</string>
                <key>textureRect</key>
                <string>{{627,298},{35,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1018,252},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sukien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,57}</string>
                <key>spriteSourceSize</key>
                <string>{134,57}</string>
                <key>textureRect</key>
                <string>{{662,451},{134,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sukien_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,57}</string>
                <key>spriteSourceSize</key>
                <string>{134,57}</string>
                <key>textureRect</key>
                <string>{{798,451},{134,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_Light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,69}</string>
                <key>textureRect</key>
                <string>{{964,0},{146,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_Light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,69}</string>
                <key>spriteSourceSize</key>
                <string>{146,69}</string>
                <key>textureRect</key>
                <string>{{479,298},{146,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,225}</string>
                <key>spriteSourceSize</key>
                <string>{890,225}</string>
                <key>textureRect</key>
                <string>{{0,0},{890,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_iconClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{142,482},{27,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_iconClose_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{173,482},{27,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_ncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,70}</string>
                <key>spriteSourceSize</key>
                <string>{335,70}</string>
                <key>textureRect</key>
                <string>{{142,227},{335,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_ncoin_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,69}</string>
                <key>spriteSourceSize</key>
                <string>{335,69}</string>
                <key>textureRect</key>
                <string>{{142,299},{335,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_profile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,69}</string>
                <key>spriteSourceSize</key>
                <string>{282,69}</string>
                <key>textureRect</key>
                <string>{{0,227},{282,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_profile_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,69}</string>
                <key>spriteSourceSize</key>
                <string>{282,69}</string>
                <key>textureRect</key>
                <string>{{71,227},{282,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_profileavatar_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{969,404},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_amthanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{892,195},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_bangxephang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{254,482},{15,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuicon_chiase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{627,347},{20,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuicon_chuyenncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{1018,204},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_dangxuat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{204,482},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_fanpage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{627,322},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{918,195},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{959,476},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{1018,229},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_rating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{229,482},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_report.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{984,476},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuicon_rung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{934,476},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{1044,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02f2335d093148cde53065f91bcac8e0:99b95846dcda2af5b0a2244415266c54:71fd0f4d858c891d4b483cd3bcff30d8$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
