<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lw_lightoutside1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{907,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,616}}</string>
                <key>sourceSize</key>
                <string>{907,616}</string>
            </dict>
            <key>lw_lightoutside2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,643},{907,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,616}}</string>
                <key>sourceSize</key>
                <string>{907,616}</string>
            </dict>
            <key>lw_lightoutside_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{879,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{879,588}}</string>
                <key>sourceSize</key>
                <string>{907,616}</string>
            </dict>
            <key>lw_lightoutside_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,592},{907,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,616}}</string>
                <key>sourceSize</key>
                <string>{907,616}</string>
            </dict>
            <key>lw_woodboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,639}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{958,639}}</string>
                <key>sourceSize</key>
                <string>{960,639}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckyWheel_big.png</string>
            <key>size</key>
            <string>{1857,1552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcaef9d0a5b0678c7aba3c844faba0a3:c60ff49411e9858ab16ab842f6e986a2:aa4d5b2d68a0baa5aa43eac4f9694d5d$</string>
            <key>textureFileName</key>
            <string>LuckyWheel_big.png</string>
        </dict>
    </dict>
</plist>
