<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_danhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{931,0},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_nhanthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{931,140},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_nhanthuong_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{931,280},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_xoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{363,524},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_xoa_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,53}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{931,420},{138,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gift_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{503,524},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gift_unread.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{553,524},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notice_read.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{603,524},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notice_unread.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{653,524},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{334,560},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_unreadMail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{503,574},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailSelected_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,71}</string>
                <key>spriteSourceSize</key>
                <string>{332,71}</string>
                <key>textureRect</key>
                <string>{{0,524},{332,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{929,522}</string>
                <key>spriteSourceSize</key>
                <string>{929,522}</string>
                <key>textureRect</key>
                <string>{{0,0},{929,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_separated_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,1}</string>
                <key>spriteSourceSize</key>
                <string>{332,1}</string>
                <key>textureRect</key>
                <string>{{334,589},{332,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mail.png</string>
            <key>size</key>
            <string>{984,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bfe4e23282ca0a31ce2cfba284483ff:4a72e186bb46d5cd083f3abf26164d39:59a338414b5b4ae6d7a2056138b88802$</string>
            <key>textureFileName</key>
            <string>Mail.png</string>
        </dict>
    </dict>
</plist>
