<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mailbox_back_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{919,410}</string>
                <key>spriteSourceSize</key>
                <string>{919,410}</string>
                <key>textureRect</key>
                <string>{{0,0},{919,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_button_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{921,0},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_button_left_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{921,61},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_button_left_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{921,122},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_button_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{921,183},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_button_right_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{921,244},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_button_right_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{921,305},{59,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_dropdownButton_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{948,413},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_icon_noti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{921,413},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_img_thecao_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,120}</string>
                <key>textureRect</key>
                <string>{{0,472},{124,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailbox_khungnoidung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{853,108}</string>
                <key>spriteSourceSize</key>
                <string>{853,108}</string>
                <key>textureRect</key>
                <string>{{122,472},{853,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_khungnoidung_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{853,108}</string>
                <key>spriteSourceSize</key>
                <string>{853,108}</string>
                <key>textureRect</key>
                <string>{{122,582},{853,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_menuselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{919,58}</string>
                <key>spriteSourceSize</key>
                <string>{919,58}</string>
                <key>textureRect</key>
                <string>{{0,412},{919,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailbox_menuselect_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,58}</string>
                <key>spriteSourceSize</key>
                <string>{1,58}</string>
                <key>textureRect</key>
                <string>{{973,0},{1,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nomail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{921,366},{45,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewMailBox.png</string>
            <key>size</key>
            <string>{975,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a03b1deb427eff4798ae0612f9814b0:651c20c92b9c045cbf49f91463045f57:d41bf47f912346b0523ed5873a332140$</string>
            <key>textureFileName</key>
            <string>NewMailBox.png</string>
        </dict>
    </dict>
</plist>
