<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{284,112},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guc_tung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,33}</string>
                <key>spriteSourceSize</key>
                <string>{110,33}</string>
                <key>textureRect</key>
                <string>{{284,0},{110,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hot_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,21}</string>
                <key>spriteSourceSize</key>
                <string>{66,21}</string>
                <key>textureRect</key>
                <string>{{350,79},{66,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mat_luot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,29}</string>
                <key>spriteSourceSize</key>
                <string>{77,29}</string>
                <key>textureRect</key>
                <string>{{349,0},{77,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thiep_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,28}</string>
                <key>spriteSourceSize</key>
                <string>{83,28}</string>
                <key>textureRect</key>
                <string>{{319,0},{83,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toitrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,145}</string>
                <key>spriteSourceSize</key>
                <string>{282,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{282,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>catte.png</string>
            <key>size</key>
            <string>{378,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b82a0dc1aebfa29f1d6c9a0ac320b6:63b80e258019b8175fc9545d309ffbdc:64a86dd1072f2fb79568749501536a11$</string>
            <key>textureFileName</key>
            <string>catte.png</string>
        </dict>
    </dict>
</plist>
