<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,343},{85,92}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,60},{85,92}}</string>
                <key>sourceSize</key>
                <string>{229,226}</string>
            </dict>
            <key>img_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,232},{109,114}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{109,114}}</string>
                <key>sourceSize</key>
                <string>{229,226}</string>
            </dict>
            <key>img_thecao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{159,102}}</string>
                <key>sourceSize</key>
                <string>{229,226}</string>
            </dict>
            <key>img_thecao_flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,106},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>tet_button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,430},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>tet_button_add_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,430},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>tet_thanhdiem.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,430},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>tet_thanhtrangthai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{399,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,38}}</string>
                <key>sourceSize</key>
                <string>{399,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuKienTet.png</string>
            <key>size</key>
            <string>{164,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da241ab5c57b6f3733c61c6c93971ed:1160fda43a6511fae0f595f38428a7f5:9d482d3267bfd41ac42b325402864a2a$</string>
            <key>textureFileName</key>
            <string>SuKienTet.png</string>
        </dict>
    </dict>
</plist>
