<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,91}</string>
                <key>spriteSourceSize</key>
                <string>{693,91}</string>
                <key>textureRect</key>
                <string>{{695,144},{693,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1820,257},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_back_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{1798,316},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_daigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,53}</string>
                <key>spriteSourceSize</key>
                <string>{142,53}</string>
                <key>textureRect</key>
                <string>{{1390,144},{142,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_daigia_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,53}</string>
                <key>spriteSourceSize</key>
                <string>{142,53}</string>
                <key>textureRect</key>
                <string>{{1688,285},{142,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_daigia_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{1822,0},{142,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_daigia_unselected_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,53}</string>
                <key>spriteSourceSize</key>
                <string>{142,53}</string>
                <key>textureRect</key>
                <string>{{1743,285},{142,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frameavatar_circle_banthan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,102}</string>
                <key>spriteSourceSize</key>
                <string>{103,102}</string>
                <key>textureRect</key>
                <string>{{1820,152},{103,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frameavatar_circle_caothu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,131}</string>
                <key>spriteSourceSize</key>
                <string>{130,131}</string>
                <key>textureRect</key>
                <string>{{1688,152},{130,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frameavatar_circle_daigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1669,0},{150,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frameavatar_circle_nguoichoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{1534,144},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{1657,144},{12,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ncoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{1490,199},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topcaothu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{1878,0},{43,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topcaothu_1_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{1390,199},{30,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_topcaothu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{1612,144},{43,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topcaothu_2_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{1440,199},{30,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_topcaothu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{1878,72},{43,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topcaothu_3_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{1857,316},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topdaigia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1798,374},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topdaigia_1_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1879,257},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topdaigia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{1688,429},{49,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_topdaigia_2_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1850,374},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topdaigia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1740,429},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_topdaigia_3_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1850,416},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,483}</string>
                <key>spriteSourceSize</key>
                <string>{693,483}</string>
                <key>textureRect</key>
                <string>{{0,0},{693,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainboard_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,1}</string>
                <key>spriteSourceSize</key>
                <string>{693,1}</string>
                <key>textureRect</key>
                <string>{{695,463},{693,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menucaothu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,142}</string>
                <key>spriteSourceSize</key>
                <string>{972,142}</string>
                <key>textureRect</key>
                <string>{{695,0},{972,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topcaothu_profile_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,494}</string>
                <key>spriteSourceSize</key>
                <string>{224,494}</string>
                <key>textureRect</key>
                <string>{{1192,237},{224,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topdaigia_profile_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,495}</string>
                <key>spriteSourceSize</key>
                <string>{224,495}</string>
                <key>textureRect</key>
                <string>{{695,237},{224,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewRank.png</string>
            <key>size</key>
            <string>{1922,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ef50e5b4cdb3ba63127aafd262a8cd:4140b4e17f6c575c326768a28a105705:88eee18354221e199b20d5a757098b1c$</string>
            <key>textureFileName</key>
            <string>NewRank.png</string>
        </dict>
    </dict>
</plist>
