<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_quyenloi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,54}</string>
                <key>spriteSourceSize</key>
                <string>{175,54}</string>
                <key>textureRect</key>
                <string>{{0,167},{175,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_quyenloi_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,54}</string>
                <key>spriteSourceSize</key>
                <string>{175,54}</string>
                <key>textureRect</key>
                <string>{{177,167},{175,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_thele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,54}</string>
                <key>textureRect</key>
                <string>{{1289,96},{132,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_thele_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,54}</string>
                <key>textureRect</key>
                <string>{{1289,152},{132,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_napvip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,46}</string>
                <key>spriteSourceSize</key>
                <string>{164,46}</string>
                <key>textureRect</key>
                <string>{{354,167},{164,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_napvip_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,46}</string>
                <key>spriteSourceSize</key>
                <string>{164,46}</string>
                <key>textureRect</key>
                <string>{{1289,48},{164,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{520,167},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_text_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{1423,96},{80,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_button_text_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{1479,115},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_text_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{1561,115},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{1479,171},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_button_vip_tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{1561,171},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_frame_iconinfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,165}</string>
                <key>spriteSourceSize</key>
                <string>{627,165}</string>
                <key>textureRect</key>
                <string>{{0,0},{627,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_halo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,187}</string>
                <key>spriteSourceSize</key>
                <string>{187,187}</string>
                <key>textureRect</key>
                <string>{{629,48},{187,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_notvip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,163}</string>
                <key>spriteSourceSize</key>
                <string>{124,163}</string>
                <key>textureRect</key>
                <string>{{818,48},{124,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_vip_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,158}</string>
                <key>spriteSourceSize</key>
                <string>{113,158}</string>
                <key>textureRect</key>
                <string>{{944,48},{113,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_vip_bronze_avar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{1214,208},{34,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_icon_vip_bronze_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{1455,48},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_vip_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,158}</string>
                <key>spriteSourceSize</key>
                <string>{113,158}</string>
                <key>textureRect</key>
                <string>{{1059,48},{113,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_vip_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,158}</string>
                <key>spriteSourceSize</key>
                <string>{113,158}</string>
                <key>textureRect</key>
                <string>{{1174,48},{113,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_icon_vip_gold_avar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{1263,208},{34,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_icon_vip_gold_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{1361,208},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_icon_vip_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,158}</string>
                <key>spriteSourceSize</key>
                <string>{113,158}</string>
                <key>textureRect</key>
                <string>{{1497,0},{113,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_icon_vip_silver_avar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{1312,208},{34,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_icon_vip_silver_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{1423,178},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_seperate_line_horizontal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,2}</string>
                <key>spriteSourceSize</key>
                <string>{67,2}</string>
                <key>textureRect</key>
                <string>{{0,223},{67,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_seperate_line_vertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,67}</string>
                <key>spriteSourceSize</key>
                <string>{2,67}</string>
                <key>textureRect</key>
                <string>{{354,215},{2,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_tab_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,46}</string>
                <key>spriteSourceSize</key>
                <string>{694,46}</string>
                <key>textureRect</key>
                <string>{{629,0},{694,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_tab_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,46}</string>
                <key>spriteSourceSize</key>
                <string>{170,46}</string>
                <key>textureRect</key>
                <string>{{1325,0},{170,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_tab_seperate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,47}</string>
                <key>spriteSourceSize</key>
                <string>{1,47}</string>
                <key>textureRect</key>
                <string>{{602,167},{1,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_text_vip_bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{130,33}</string>
                <key>textureRect</key>
                <string>{{818,213},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_text_vip_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{130,33}</string>
                <key>textureRect</key>
                <string>{{950,208},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_text_vip_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{130,33}</string>
                <key>textureRect</key>
                <string>{{1082,208},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vip.png</string>
            <key>size</key>
            <string>{1655,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f704c711d18255033269491f1275d8:044fbc4b08b5fa7c366919172ff8e978:f0b190d86ee73cbfd30d23fccc1ae1c2$</string>
            <key>textureFileName</key>
            <string>vip.png</string>
        </dict>
    </dict>
</plist>
